/* ===== General Styles ===== */

/* == Fonts == */
@font-face {
    font-family: LarishNeue;
    src: url(../fonts/Larish\ Neue\ Semibold.woff2);
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// font-family: 'Work Sans', sans-serif;


/* == Colors == */
// Colors: #fff / #000

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* ===== Header Styles ===== */
header {
    height: 100vh; 
    background: black; 
    color: white; 
    text-align: center;
    img {
        width: 100vw; 
        height: 25vh; 
    }
    section {
        margin: 8vh 0; 
        p {
            padding: 3vh 0;
            font-size: rem;
        }
        h1 {
            font-family: LarishNeue;
            font-size: 7rem;
            line-height: 87px;
        }
        h1:nth-of-type(2) {
            -webkit-text-stroke: 1px white;
            color: #000; 
        }
    }
    nav {
        margin: 0 5vw; 
        display: flex; 
        justify-content: space-between;
        align-items: center;
        img {
            width: 7vw; 
        }
        button {
            background: black; 
            border: 1px solid white; 
            color: white; 
            padding: 25px 60px; 
            font-size: 1.7rem;
        }
    }
}

main {
    > div:nth-of-type(1) {
        padding: 10vh 0 20vh 0; 
        background: black;
        color: white; 
        section:nth-of-type(1) {
            margin: 10vh 5vw 0 5vw; 
            h2 {
                font-family: LarishNeue;
                font-size: 6rem;
            }
        }
        section:nth-of-type(2) {
            display: flex; 
            justify-content: space-between;
            margin-left: 5vw; 
            article {
                margin-top: 20vh; 
                h2 {
                    font-family: LarishNeue;
                    font-size: 6rem;
                    margin: 2vh 0; 
                }
            }
            img {
                width: 50%; 
            }
        }
    }
    > section:nth-of-type(1) {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px; 
        img { 
            width: 25vw;
            display: block; 
        }
        .imgSectionImg1 {            
            grid-column: 3/4;
            grid-row: 1/2;
            transform: translateY(-10vh); 
        }
        .imgSectionImg2 {
            width: 20vw;
            grid-column: 1/2;
            grid-row: 2/3;
            transform: translateX(4vw);
        }
        .imgSectionText1 {
            grid-column: 2/3;
            grid-row: 3/4;
            transform: translateY(-10vh); 
            width: 38vw; 
            h2 {
                font-family: LarishNeue;
                font-size: 6rem;
                line-height: 87px;
                margin-bottom: 2vh; 
            }
            p {
                line-height: 35px;
            }
        }
        .imgSectionImg3 {
            width: 20vw;
            grid-column: 3/4;
            grid-row: 4/5;
            transform: translateY(-20vh); 
            margin: 0 0 0 auto; 
        }
        .imgSectionImg4 {
            grid-column: 1/2;
            grid-row: 4/5;
            transform: translateX(15vw);
        }
        .imgSectionImg5 {
            grid-column: 3/4;
            grid-row: 7/8;
            transform: translateX(-5vw);
        }
        .imgSectionText2 {
            grid-column: 2/3;
            grid-row: 8/9;
            transform: translateY(3vh);
            line-height: 35px;
        }
        .imgSectionImg6 {
            grid-column: 1/2;
            grid-row: 8/9;
        }
        .imgSectionImg7 {
            width: 30vw;
            grid-column: 2/3;
            grid-row: 9/10;
            transform: translate(20vw, 15vh);
        }
    }
    > section:nth-of-type(2) {
        > div:nth-of-type(1) {
            padding: 30vh 5vw 80vh 5vw;
            background: black; 
            article:nth-of-type(1) {
                display: flex; 
                justify-content: space-between;
                color: white; 
                div:nth-of-type(1) {
                    width: 25vw; 
                    h2 {
                        font-family: LarishNeue;
                        font-size: 6rem;
                        margin: 2vh 0; 
                    }
                }
                div:nth-of-type(2) {
                    width: 45vw; 
                    p:nth-of-type(1) {
                        font-family: LarishNeue;
                        font-size: 2rem; 
                        margin-bottom: 2vh;
                    }
                }  
            }
        }
        > article:nth-of-type(1) {
            margin-left: 5vw; 
            transform: translateY(-65vh);
            img:nth-of-type(1) {
                width: 60%;
            }
            img:nth-of-type(2) {
            width: 35%;
            z-index: 2;
            transform: translate(-5vw, -10vh);
            }
        }
        > article:nth-of-type(2) {
            position: relative; 
            overflow: hidden; 
            img {
                width: 35%;
                position: absolute;  
                z-index: -1; 
                bottom: -12vh; 
                right: -10vw;  
            } 
        }
    }  
}

@media screen and (max-width: 600px) {

}
  
