/* ===== General Styles ===== */
/* Import Variables */
/* == Fonts == */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: LarishNeue;
  src: url(../fonts/Larish\ Neue\ Semibold.woff2);
}
.lineheightHeadlines {
  line-height: 87px;
}

.RSVPButton {
  background: black;
  color: white;
  border: 1px solid white;
  padding: 25px 60px;
  font-size: 1.7rem;
}
.RSVPButton:hover {
  background: white;
  color: black;
}

.hollowFont {
  -webkit-text-stroke: 1px white;
  color: #000;
}

.lineheightText {
  line-height: 35px;
}

/* == Colors == */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* ===== Header Styles ===== */
header {
  height: 100vh;
  background: black;
  color: white;
  text-align: center;
}
header img {
  width: 100vw;
  height: 25vh;
}
header section {
  margin: 8vh 0;
}
header section p {
  margin: 3vh 0;
}
header section h1 {
  font-family: "LarishNeue";
  font-size: 7rem;
}
header nav {
  margin: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  width: 7vw;
}

main > .introSectionBlack {
  padding: 10vh 0 20vh 0;
  background: black;
  color: white;
}
main > .introSectionBlack .introText {
  margin: 10vh 30vw 0 5vw;
}
main > .introSectionBlack .introText h2 {
  font-family: "LarishNeue";
  font-size: 6rem;
}
main > .introSectionBlack .introOverview {
  display: flex;
  justify-content: space-between;
  margin-left: 5vw;
}
main > .introSectionBlack .introOverview article {
  margin-top: 20vh;
}
main > .introSectionBlack .introOverview article h2 {
  font-family: "LarishNeue";
  font-size: 6rem;
  margin: 2vh 0;
}
main > .introSectionBlack .introOverview img {
  width: 50%;
}
main > .imageSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
main > .imageSection img {
  width: 25vw;
  display: block;
}
main > .imageSection .imgSectionImg1 {
  grid-column: 3/4;
  grid-row: 1/2;
  transform: translateY(-10vh);
}
main > .imageSection .imgSectionImg2 {
  width: 20vw;
  grid-column: 1/2;
  grid-row: 2/3;
  transform: translateX(4vw);
}
main > .imageSection .imgSectionText1 {
  grid-column: 2/3;
  grid-row: 3/4;
  transform: translateY(-10vh);
  width: 38vw;
}
main > .imageSection .imgSectionText1 h2 {
  font-family: "LarishNeue";
  font-size: 6rem;
  margin-bottom: 2vh;
}
main > .imageSection .imgSectionImg3 {
  width: 20vw;
  grid-column: 3/4;
  grid-row: 4/5;
  transform: translateY(-20vh);
  margin: 0 0 0 auto;
}
main > .imageSection .imgSectionImg4 {
  grid-column: 1/2;
  grid-row: 4/5;
  transform: translateX(15vw);
}
main > .imageSection .imgSectionImg5 {
  grid-column: 3/4;
  grid-row: 7/8;
  transform: translate(-5vw, -5vh);
}
main > .imageSection .imgSectionText2 {
  grid-column: 2/3;
  grid-row: 8/9;
  transform: translateY(3vh);
}
main > .imageSection .imgSectionImg6 {
  grid-column: 1/2;
  grid-row: 8/9;
}
main > .imageSection .imgSectionImg7 {
  width: 30vw;
  grid-column: 2/3;
  grid-row: 9/10;
  transform: translate(20vw, 15vh);
}
main > .theGoldenBearSection > div:nth-of-type(1) {
  padding: 30vh 5vw 5vh 5vw;
  background: black;
  color: white;
}
main > .theGoldenBearSection > div:nth-of-type(1) article:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}
main > .theGoldenBearSection > div:nth-of-type(1) article:nth-of-type(1) div:nth-of-type(1) {
  width: 25vw;
}
main > .theGoldenBearSection > div:nth-of-type(1) article:nth-of-type(1) div:nth-of-type(1) h2 {
  font-family: "LarishNeue";
  font-size: 6rem;
  margin: 2vh 0;
}
main > .theGoldenBearSection > div:nth-of-type(1) article:nth-of-type(1) div:nth-of-type(2) {
  width: 45vw;
}
main > .theGoldenBearSection > div:nth-of-type(1) article:nth-of-type(1) div:nth-of-type(2) .smallFontLarishNeue {
  font-family: "LarishNeue";
  font-size: 2rem;
  margin-bottom: 2vh;
}
main > .goldenBearImageSection {
  padding-left: 5vw;
  background: black;
}
main > .goldenBearImageSection img:nth-of-type(1) {
  width: 60%;
  transform: translateY(25vh);
}
main > .goldenBearImageSection img:nth-of-type(2) {
  width: 30%;
  transform: translate(-4vw, 10vh);
}
main > .poppyBearSection {
  position: relative;
  overflow: hidden;
  padding: 75vh 5vw 0 5vw;
}
main > .poppyBearSection img {
  position: absolute;
  width: 30%;
  right: -8%;
  top: -12%;
  overflow: hidden;
  z-index: -1;
  animation: rotatingCircle 10s infinite linear;
}
@keyframes rotatingCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main > .poppyBearSection article {
  display: flex;
  justify-content: space-between;
}
main > .poppyBearSection article div:nth-of-type(1) {
  width: 25vw;
}
main > .poppyBearSection article div:nth-of-type(1) h2 {
  font-family: "LarishNeue";
  font-size: 6rem;
  margin: 2vh 0;
}
main > .poppyBearSection article div:nth-of-type(2) {
  width: 45vw;
}
main > .poppyBearSection article div:nth-of-type(2) .smallFontLarishNeue {
  font-family: "LarishNeue";
  font-size: 2rem;
  margin-bottom: 2vh;
}
main > .poppyBearImageSection {
  margin: 15vh 0;
}
main > .poppyBearImageSection img:nth-of-type(1) {
  width: 30%;
  transform: translate(5vw, -15vh);
}
main > .poppyBearImageSection img:nth-of-type(2) {
  width: 60%;
}

footer {
  overflow-x: hidden;
  background: black;
  color: white;
}
footer .footerBanner {
  overflow-x: hidden;
  background: white;
  color: black;
  width: 2000px;
  transform: rotate(40deg) translateY(150%);
}
footer .footerBanner .footerBannerAnimation {
  font-family: "LarishNeue";
  font-size: 6rem;
  animation: footerBanner 3s linear infinite alternate;
}
footer .footerBanner .footerBannerAnimation span {
  -webkit-text-stroke: 1px black;
  color: white;
  font-family: "LarishNeue";
  font-size: 6rem;
}
@keyframes footerBanner {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(30%);
  }
}
footer .footerTextBlock {
  padding: 10vh 5vw;
  margin-bottom: 5vh;
  width: 45vw;
}
footer .footerTextBlock .smallFontLarishNeue {
  font-family: "LarishNeue";
  font-size: 2rem;
  margin-bottom: 2vh;
  margin: 4vh 0;
}
footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10vh 15vw 5vh 5vw;
}
footer nav .socialMediaLogo div img {
  width: 40px;
  padding: 5px;
}
footer nav .socialMediaLogo p {
  margin: 2vh 0;
}
footer nav .ngoLogo img {
  width: 7vw;
}

/*# sourceMappingURL=main.css.map */
